.header{
  background-color:#38AEF0;
  color:white;
  text-align:center;
  font-size: 1rem;
  font-weight: lighter;
  width: 100%
}

.contents {
  width:100%;
  &__left {
  width:300px;
  color:white;
  float:left; 
  height:100vh;
  right:20px;
  left:20px;

    &__top {
    background-color:#253141;
    align-items: center;
    display:flex;
    padding: 0 20px;
    height: 200px;

      &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;

        &__text {
          color:white;
          font-size:16px;
          font-weight: bold;
          display: flex;
        }

           &__image__cog {
           display: inline-block;
          }
           &__image__edit{
            display: inline-block;
           }
          
      }
    }
    

    &--bottom {
      height: 500px;
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;

      &__group{
      padding:20px;

        &__name{
          color: #FFFFFF;
          font-size:15px;
          font-weight:bold;
          padding-bottom:5px;
        }
        &__message{
          font-size:11px;
        }
    }   
  

  }
} 

&__right{
  width: calc(100vw - 300px);
  float: left;

   &__header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;

      &__left-box{
        margin-top: 35px;

        &__current-group{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }

        &__member-list{
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        color: #38aef0;
      }
   }
   &__message{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;

      &__data-message{
        padding-bottom: 40px;

        &__user {
          display: flex;
          margin-bottom: 10px;

          &__name{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
      }
   }

   &__footer{
    height: 90px;
    background-color: #DDDDDD;
    position: relative;

     &__left-box{
      line-height: 50px;
      background-color:white;
      width:700px;
      height:50px;
      position: absolute;
      top:20px;
      left:40px;
      display: flex;
      justify-content: space-between;

       &__text{
        font-size:16px;
        color:#434A54;
        padding-left:10px;
       }
       &__image{
       padding-right:10px;
       }
     }
     &__right-box{
      float:right;
      width: 100px;
      height: 50px;
      background-color: #38aef0;
      color: white;
      margin: 20px 40px;
      text-align: center;
      line-height:50px;
       margin-left:15px;
     }

   }
}
}






  